USE [TestDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxOffice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityCode] [int] NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[DistrictName] [nvarchar](50) NOT NULL,
	[DistrictCode] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TaxOffice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeRegistryOffice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[Manager] [nvarchar](30) NULL,
	[Address] [nvarchar](70) NULL,
	[PhoneAreaCode] [nvarchar](5) NULL,
	[Phone] [nvarchar](15) NULL,
	[FaxNo] [nvarchar](15) NULL,
 CONSTRAINT [PK_TradeRegistryOffice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TaxOffice] ON 

INSERT [dbo].[TaxOffice] ([Id], [CityCode], [CityName], [DistrictName], [DistrictCode], [Name]) VALUES (1, 1, N'ADANA', N'Merkez', 1250, N'Adana İhtisas Vergi Dairesi Müdürlüğü')
INSERT [dbo].[TaxOffice] ([Id], [CityCode], [CityName], [DistrictName], [DistrictCode], [Name]) VALUES (2, 1, N'ADANA', N'Merkez', 1251, N'5 Ocak Vergi Dairesi Müdürlüğü')
INSERT [dbo].[TaxOffice] ([Id], [CityCode], [CityName], [DistrictName], [DistrictCode], [Name]) VALUES (3, 1, N'ADANA', N'Merkez', 1252, N'Yüreğir Vergi Dairesi Müdürlüğü')
GO
SET IDENTITY_INSERT [dbo].[TaxOffice] OFF
GO
SET IDENTITY_INSERT [dbo].[TradeRegistryOffice] ON 

INSERT [dbo].[TradeRegistryOffice] ([Id], [City], [Manager], [Address], [PhoneAreaCode], [Phone], [FaxNo]) VALUES (1, N'İSTANBUL', N'FATMAGÜL KANSOY TEMEL', N'REŞADİYE CAD. PK. 34378 EMİNÖNÜ İSTANBUL', N'212', N'455 60 00', N'513 15 65-520 1')
INSERT [dbo].[TradeRegistryOffice] ([Id], [City], [Manager], [Address], [PhoneAreaCode], [Phone], [FaxNo]) VALUES (2, N'ANKARA', N'İBRAHİM TIRPANCI', N'SÖĞÜTÖZÜ MH.2180.CD. N.5/A PK: 06530 ÇANKAYA-ANKARA', N'312', N'201 81 70', N'201 81 73')
INSERT [dbo].[TradeRegistryOffice] ([Id], [City], [Manager], [Address], [PhoneAreaCode], [Phone], [FaxNo]) VALUES (3, N'İZMİR', N'MEHMET AK', N'KÜLTÜR MAH. ATATÜRK CAD. NO:190 35220 KONAK - İZMİR', N'232', N'444 92 92', N'498 46 45')
GO
SET IDENTITY_INSERT [dbo].[TradeRegistryOffice] OFF
GO
